.chart{
	background-color: #dadada;
	min-width: 200px;
	min-height: 350px;
}

.bar{
	fill: #000000;
	height: 30px;
}

.name{
	fill: white;
}

/*body {
	text-align: center;
	padding: 100px;
}*/

/*button{
	border: none;
	padding:10px;
	background-color: black;
	color:white;
}

button:hover {
	background-color: white;
	color: black;
}*/
